{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/display.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>DELLINK</title>
</head>
<body>
    {% include "Necessary/loading_spinner.html" %}
    {% include "Necessary/menubar.html" %}
    <section class="header">
        <div class="content">
            {% include "line_menu.html" %}
            <img src="{% static "img/logo_dellink.png" %}" alt=""> 
        </div>
    </section>

</body>
</html>