{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/item_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/display.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>DELLINK</title>
</head>
<body>
    {% include "Necessary/menubar.html" %}
    {% include "Necessary/loading_spinner.html" %}
    <section class="header">
        <div class="content-item-view">
            <div class="head-container">
                <div class="header-info">
                    <h3 id="machineName" class="machineName"></h3>
                    <div class="header-status">
                        <div id="status" class="status">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="header-information">
                    <input id="deviceID" type="hidden" value="{{mID}}"></input>
                    <input id="DIA_http" type="hidden" value="{{DIA_http}}"></input>
                    <input id="guid" type="hidden" value="{{mGuid}}"></input>
                    <input id="lineID" type="hidden" value="{{lineID}}"></input>

                        <div class="box-info">
                            <span >Device :</span>
                            <span id="machineRname"></span>
                        </div>
                        <div class="box-info">
                            <span class="sp-info">Machine ID : </span>
                            <span id="machineID"></span>
                        </div>
                        <div class="box-info">
                            <span class="sp-info">IP : </span> 
                            <span id="machineIP"></span>
                        </div>
                        <div class="box-info">
                            <span>Type : </span>  
                            <span id="type"></span>
                        </div>
                        <div class="box-info">
                            <span class="sp-info">Model : </span> 
                            <span id="model"></span>
                        </div>
                </div>
                <!-- Connection status -->
            </div>
            
            <section class="body-content">
                <div class="pnl box-camera">
                    <h5 class="head-pnl">RTSP camera</h5>
                    <img src="{% url 'camera_view' lineID mID %}" width="100%" height="470px" 
                    onerror="this.onerror=null; this.src='{% static 'img/camera-not-found.jpg' %}'" loading="lazy">
                    <div class="camera-info">
                        <div>
                            {% if data_camera == "Exist" %}
                            <span>IP camera is {{camera_ip}}.</span>
                            {% else %}
                            <span>This machine have no IP camera assigned.</span>
                            <button>Assign</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="pnl box-command-monitor">
                    <h5 class="head-pnl">Monitor & Controller</h5>
                    <div class="cmd-container">
                        <!-- Button generator -->
                        <div class="cmd-btn">
                            {% for tag in status_member %}
                                <input id="assTag{{tag.tag_id}}"  type="hidden"/>
                                    <div class="container-status">
                                        <input id="indicator-status{{tag.tag_id}}" type="hidden"/>
                                        <div id="status-green" class="indicator-status"></div>
                                        <div id="status-yellow" class="indicator-status"></div>
                                        <div id="status-red" class="indicator-status"></div>
                                    </div>
                                    <div class="text-status">
                                        <span id="text-indicator-status">Status</span>
                                    </div>
                                    <hr>
                            {% endfor %}
                            {% for tag in indicator_list %}
                                {% if tag.data_type == "BIT" and tag.display == "BUTTON" %}
                                <input id="assTag{{tag.tag_id}}"  type="hidden"/>
                                    <input id="bTagValue{{tag.tag_id}}" hidden/>
                                    <button id="btn-TagValue{{tag.tag_id}}" class="btn-TagValue" style="--btn-color: {{tag.color}};" onclick="WriteData({{tag.tag_id}}, 2)">{{tag.name}}</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <hr>
                        <!-- Text generator -->
                        <div class="cmd-text">
                            <!-- Indicator generator -->
                            {% for tag in indicator_list %}
                                {% if tag.display == "INDICATOR" %}
                                <div id="indicator{{tag.tag_id}}" class="cmd-indicator OFF">
                                    <span>{{tag.name}}</span>
                                </div>
                                {% endif %}
                            {% endfor %}

                            {% for tag in indicator_list %}
                                {% if tag.data_type == "ERROR CODE" %}
                                <input id="assTag{{tag.tag_id}}"  type="hidden"/>
                                    <div class="text-error-code">
                                        <span>Error code</span>
                                        <input  id="errorCode{{tag.tag_id}}"  value="" disabled/>
                                    </div>
                                    {% for e_msg in notification_error%}
                                            <input id="errorMsg{{e_msg.error_code}}"  type="hidden" value="{{e_msg.error_message}}"/>
                                    {% endfor %}
                                    <div id="alert-container" class="alert-container">
                                    </div>   
                                {% endif %}
                            {% endfor %}
                            
                            {% for tag in indicator_list %}
                                {% if tag.data_type == "STRING" %}
                                <input id="assTag{{tag.tag_id}}"  type="hidden"/>
                                    <label>{{tag.name}}</label>
                                    <div class="cmd-text-send">
                                        <input type="text" id="mTagValue{{tag.tag_id}}"/>
                                        <button onclick="WriteData({{tag.tag_id}}, 1)">Send</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>        
            </section>

            <section class="body-tags">
                <div class="pnl box-machineView">
                    <div class="header-tags">
                        <h5 class="head-pnl">Tag members</h5>
                        <button class="btn-add" id="addTag" onclick="openDIAform()">Add Tag</button>
                    </div>
                    <div class="table-container">
                        <table class="table-tag" id="machineView">
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Data type</th>
                                <th>Tag ID</th>
                                <th>Register</th>
                                <th>Value</th>
                                <th class="td-indicator">Indicator</th>
                            </tr>
                    </div>
                </div> 
            </section>
        </div>
    </section>
    <div class="alert-message" id="alert-message" style="display: none;">
        <a href="#" class="notification">
            <span class="notification-icon"><i class='bx bxs-bell-ring'></i></span>
            <span class="button-expand-text">Error Alert</span>
            <!-- <span class="badge">3</span> -->
        </a>
    </div>
    <div class="btn-control-page">
            <a href="{% url 'line_view' lineID %}" class="button-expand">
                <span class="button-expand-icon"><i class='bx bx-arrow-back'></i></span>
                <span class="button-expand-text">Previous page</span>
            </a>
    </div>
    <!-- Indicator assignment form -->
    <div id="assignForm" class="form">
        <form class="form-container" action="/machine_view/ln{{lineID}}id{{mID}}/" method="post">
            <div class="form-content">
                {% csrf_token %}
                <h2>Indicator assignment</h2>
                <strong>information</strong><br>
                <div class="form-info">
                    <label>Tag name : </label><input type="text" id="tagName" name="tagName" />
                    <label>Tag ID : </label><input type="text" id="tagID" name="tagID" />
                    <label>Register : </label><input type="text" id="register" name="register" />
                    <hr>
                </div>
                <strong>Data type</strong>
                <select id="data_type" name="data_type" onchange="getDataType()">
                    <option value="">-</option>
                    <option value="BIT">BIT</option>
                    <!-- <option value="INT">INT</option>
                    <option value="FLOAT">FLOAT</option> -->
                    <option value="STRING">STRING</option>
                    <option value="STATUS">STATUS</option>
                    <option value="ERROR CODE">ERROR CODE</option>
                </select>
                <div id="datatype_bit" style="display: none;">
                    <strong>Display type</strong>
                    <select id="display_type" name="display_type">
                        <option value="BUTTON">BUTTON</option>
                        <option value="INDICATOR">INDICATOR</option>
                    </select>
                    <strong>Color</strong>
                        <div>
                            <input type="radio" id="c1" name="color" value="#3282B8" checked/>
                            <input type="color" id="btn_color1" name="color" value="#3282B8" disabled/>
                            <label for="c1">Blue</label>
                            <br>
                            <input type="radio" id="c2" name="color" value="#50a920" />
                            <input type="color" id="btn_color2" name="color" value="#50a920" disabled/>
                            <label for="c2">Green</label>
                            <br>
                            <input type="radio" id="c3" name="color" value="#f9d922" />
                            <input type="color" id="btn_color3" name="color" value="#f9d922" disabled/>
                            <label for="c3">Yellow</label>
                            <br>
                            <input type="radio" id="c4" name="color" value="#e52d24" />
                            <input type="color" id="btn_color4" name="color" value="#e52d24" disabled/>
                            <label for="c4">Red</label>
                          </div>
                </div>
                <div id="datatype_text" style="display: none;">
                    <strong>Display type</strong>
                    <select id="display_type" name="display_type">
                        <option value="TEXT">TEXT</option>
                        <option value="NUMBER">NUMBER</option>
                    </select>
                </div>
                <hr>
                <div class="clearfix">
                    <button id="btn-add" class="add" type="submit" style="display: none;">Add</button>
                    <button class="cancel" type="button" onclick="document.getElementById('assignForm').style.display='none'">Cancel</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Delete Tag Confirmable windows -->
    <div id="confirmForm" class="confirmForm">
    </div>


    <!-- {% for e_msg in notification_error%}
    <div class="alert-message-box" id="alert-message">
        <div class="message-box">
            <span>Error occurred! {{e_msg.error_message}}.</span>
        </div>
    </div>
    {% endfor %} -->
    
    <script src="{% static "js/_item_view.js" %}" ></script>
</body>
</html>
