{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">.
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/item_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/display.css' %}">
    <title>Document</title>
</head>
<body>
    {% include "menubar.html" %}
    <section class="header">
        <div class="content">
            <div class="head-container">
                <div class="header-info">
                    <h3>{{mLName}}</h3>
                    <p id="machineName"></p>
                        <span>Device :</span>
                        <span>{{mDName}}</span>
                        <span class="sp-info">, Machine ID :</span>
                        <span>{{mID}}</span>
                        <span class="sp-info">, IP :</span> 
                        <span>{{mIP}}</span>    
                        <br>
                        <span>Type :</span>  
                        <span>{{mType}}</span>
                        <span class="sp-info">, Model :</span> 
                        <span>{{mModel}} </span>
                </div>
                <div class="header-status">
                    {% if mStatus == 1 %}
                    <div class="display Online"><label> Online </label></div>
                    {% else %}
                    <div class="display Offline"><label> Offline </label></div>
                    {% endif %}
                </div>
            </div>
            
            <section class="body-content">
                <div class="pnl box-camera">
                    <h5 class="head-pnl">RTSP camera</h5>
                </div>
                <div class="pnl box-command-monitor">
                    <h5 class="head-pnl">Monitor & Control</h5>
                </div>        
            </section>
            <section class="body-tags">
                <div class="pnl box-machineView">
                    <div class="header-tags">
                        <h5 class="head-pnl">Tag members</h5>
                        <button class="btn-add" id="addTag">Add Tag</button>
                    </div>
                    <div class="table-container" id="table_parameter">
                        <table class="table-tag" id="machineView">
                            <tr>
                                <th>Name</th>
                                <th>Data type</th>
                                <th>Tag ID</th>
                                <th>Register</th>
                                <th>Value</th>
                                <th class="td-indicator">Indicator</th>
                            </tr>
                            {% for val in tag_data %}
                            <tr>
                                <td>{{val.name}}</td>
                                <td>{{val.dataType}}</td>
                                <td>{{val.tid}}</td>
                                <td>{{val.register}}</td>
                                <td>{{val.value}}</td>
                                <td class="td-indicator">
                                    <button>Unassigned</button>
                                    <input type="button" onclick="location.href='{% url 'writeData' mID val.tid %}';"/>
                                    <input type="text" id="TagValue"/>
                                </td>
                            </tr>
                            {% endfor %}
                    </div>
                </div> 
            </section>
        </div>
    </section>
    <script>

        // setTimeout(function(){
        // window.location.reload(1);
        // }, 2000);
        // window.setTimeout(function () {
        //     location.href = "/machine_view/id{{mID}}/";
        // }, 5000); // refresh/redirect after 5 seconds.


        function WriteData(tag_id){
            let value = document.getElementById("TagValue").value;
            let url_api = 'http://192.168.1.254:9000/api/v1/devices/'+ String(dID) +'/tags/'+ String(tag_id) +'/value/' + String(value);
            const initDetails = {
            method: 'PUT',
            headers: {
                'Content-Length': 0,
                'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJyb290IiwianRpIjoiZDJmYTc5NzQyYTJkNDU1YjgyNGJmNzMwMDAzMjVhYmEiLCJpYXQiOjE2Njc0NTg2NzYsIm5iZiI6MTY2NzQ1ODY3NSwiZXhwIjoxNjY3NTAxODc1LCJpc3MiOiJBUEkuRElBTGluay5ERUxUQSIsImF1ZCI6IkRJQUxpbmsgQVBJIFVzZXIifQ.RyP-lWVVEVKN4WBf520B95y16J4hxllk9RDFjuQ3Vv0'
            },
            }
            fetch(url_api,initDetails).then( response =>
                {
                    if ( response.status == 401 )
                    {
                        console.log('Status Code: 401 Unauthorized');
                        alert('Status Code: 401 Unauthorized');
                        return;
                    }
                    else if(response.status != 204){
                        let msg = 'MachineID :'+ dID +', Tag ID :' + tag_id + ', Status Code: ' +
                            response.status;

                        console.log(msg);
                        alert(msg);
                        return;
                    }
                    alert('Write the value success!');
                    console.log( response.headers.get( "Content-Type" ) );
                    return 0;
                }
                )
        }
    </script>
</body>
</html>
