{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/line_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/display.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>DELLINK</title>
</head>
<body>
    {% include "Necessary/loading_spinner.html" %}
    {% include "Necessary/menubar.html" %}
    <section class="header">
        <div class="content">
            {% include "line_menu.html" %}
            <div id="mList" class="machine-items">
                {% for val in response %}
                <div class="machine-item {{status}}" onclick="location.href='{% url 'item_view' line_id val.deviceId %}';">
                <!-- <div class="machine-item {{status}}" onclick="location.href='../machine_view/{{val.deviceId}}';"> -->
                    <div class="item-header">
                        <h5>{{val.comment}}</h5>
                        {% if val.status == 0 %}
                        <span class="display Offline"> Offline </span>
                        {% else %}
                        <span class="display Online"> Online </span>
                        {% endif %}
                    </div>
                    <div class="item-info">
                        <span>IP : {{val.ip}} &emsp;Device : {{val.name}}</span>
                        <span class="id-display">ID : {{val.deviceId}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <span class="ip-address">{{user_ip}}</span>
    </section>
    <script src="{% static "js/loading_spinner.js" %}" ></script>
</body>
</html>