{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/notice_view.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>Document</title>
</head>
<body>
    {% include "Necessary/loading_spinner.html" %}
    {% include "Necessary/menubar.html" %}
    <section class="header">
        <div class="content">
            <div class="header-container">
                <h3>Error Notification</h3>
                <div class="alert-count">
                    <span>0</span>
                </div>
            </div>
            <div>
                {% include "notice_msg.html" %}
                <div id="error-msg-container">
                </div>   
                
            </div>
        </div>
    </section>
    <script>
        var eventsource = new EventSource("{% url 'stream_error_msg' %}");

        eventsource.onopen = function(){
            console.log("we have an open connection!");
        }
        eventsource.onmessage = function(e){
            
            console.log(e);
            final_data = JSON.parse(e.data);
            content = `<div class="alert" onclick="location.href='{% url 'item_view' 2 1 %}';">
                        <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  -->
                        <div class="alert-header">
                            <span><strong>&ensp; Error code : ${final_data['error_number']} &ensp;</strong></span>
                            <div class="alert-tag">
                                <span>&ensp; ${final_data['line_name']} &ensp;</span>
                                <span>&ensp; ${final_data['machine_name']} &ensp;</span>
                            </div>
                        </div>
                        <hr> 
                        <span> ${final_data['error_message']} </span> 
                    </div>`;
            
            document.querySelector('#error-msg-container').innerHTML += content;
        }
        eventsource.onerror = function(e){
            console.log(`error ${e}`);
        }
    </script>
</body>
</html>
