{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/notice_view.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>Document</title>
</head>
<body>
    {% include "Necessary/loading_spinner.html" %}
    {% include "Necessary/menubar.html" %}
    <section class="header">
        <div class="content">
            <div class="header-container">
                <h3>Error Notification</h3>
                <div class="alert-count">
                    <span>3</span>
                </div>
            </div>
            <div>
                {% include "notice_msg.html" %}
                {% for i in '0'|make_list %}
                    <!-- {{ forloop.counter }} -->
                    <div class="alert">
                        <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  -->
                        <div class="alert-header">
                            <span><strong>&ensp;1 Lorem, ipsum dolor.&ensp;</strong></span>
                            <div class="alert-tag">
                                <span>&ensp;CN05&ensp;</span>
                                <span>&ensp;Auto Load Router&ensp;</span>
                            </div>
                        </div>
                        <hr> 
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nam, aliquid eos et cupiditate, quas possimus repellat a modi quam aspernatur rem aperiam incidunt ad deleniti ipsa atque sunt iusto?</span> 
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <script>
        var eventsource = new EventSource("{% url 'stream_error_msg' %}");

        eventsource.onopen = function(){
            console.log("we have an open connection!");
        }
        eventsource.onmessage = function(e){
            console.log(e);
            // final_data = JSON.parse(e.data);
            // content = `<h1>${final_data['deviceId']} ${final_data['name']} ${final_data['tid']} ${final_data['value']}</h1>`;
            
            console.log(content);
        }
        eventsource.onerror = function(e){
            console.log(`error ${e}`);
        }
    </script>
</body>
</html>
