{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/terminal.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="terminal">
        <section class="terminal-section">
            <div class="terminal-header">
                <h4>View control</h4>
            </div>
            <div class="terminal-container"> 
                {% with line="-" machine="-"%} 
                <label>Line</label>
                <div class="dropdown">
                    <button class="dropbtn">{{line}}</button>
                    <div class="dropdown-content">    
                        {% for x in plc_members %}      
                        <a href="">{{ x.line_name}}</a>
                        {% endfor %}
                    </div>
                </div>
                <br><br>
                <label>Machine</label>
                <div class="dropdown">
                    <button class="dropbtn">{{machine}}</button>
                    <div class="dropdown-content">
                        {% for x in plc_members %}      
                        <a href="../viewOn{{x.id}}">{{ x.machine_name}}</a>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                {% endwith %}
            </div>
        </section>
    </div>
</body>
</html>