{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/item_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/display.css' %}">
    <title>Document</title>
</head>
<body>
    {% include "menubar.html" %}
    <section class="header">
        <div class="content">
            <div class="head-container">
                <div class="header-info">
                    <h3 id="machineName"></h3>
                    <input id="deviceID" type="hidden" value="{{mID}}"></input>
                    <p id="machineName"></p>
                        <span>Device :</span>
                        <span id="machineRname"></span>
                        <span class="sp-info">, Machine ID :</span>
                        <span id="machineID"></span>
                        <span class="sp-info">, IP :</span> 
                        <span id="machineIP"></span>
                        <!-- <br> -->
                        <span>Type :</span>  
                        <span id="type"></span>
                        <span class="sp-info">, Model :</span> 
                        <span id="model"></span>
                </div>
                <div class="header-status">
                    <div id="status" class="status">
                    </div>
                </div>
            </div>
            
            <section class="body-content">
                <div class="pnl box-camera">
                    <h5 class="head-pnl">RTSP camera</h5>
                    <iframe class="ip-camera" 
                    src="https://www.youtube.com/embed/5obJXH8gU-E">
                    </iframe>
                </div>
                <div class="pnl box-command-monitor">
                    <h5 class="head-pnl">Monitor & Control</h5>
                </div>        
            </section>
            <section class="body-tags">
                <div class="pnl box-machineView">
                    <div class="header-tags">
                        <h5 class="head-pnl">Tag members</h5>
                        <!-- <input class="btn-add" type="button" onclick="window.open('http://www.yahoo.com', '_blank')" value="Add Tag" /> -->
                        <button class="btn-add" id="addTag">Add Tag</button>
                    </div>
                    <div class="table-container">
                        <table class="table-tag" id="machineView">
                            <tr>
                                <th>Name</th>
                                <th>Data type</th>
                                <th>Tag ID</th>
                                <th>Register</th>
                                <th>Value</th>
                                <th class="td-indicator">Indicator</th>
                            </tr>
                    </div>
                </div> 
            </section>
        </div>
    </section>
    <script src="{% static "js/_item_view.js" %}" ></script>
</body>
</html>
