/* 
.overview-container{
  margin-top: 20px;
  margin-left: 140px;
} */

.header-container{
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 77%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content .header-container h3{
  margin: 10px 20px;
}
.lines-container{
  margin: 10px 20px;
}
.lines-container .btn-line{
    margin: auto;
    padding: 6px 13px;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.machine-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
  grid-gap:50px;
  margin-top: 80px;
  /* margin: 50px auto; */
  max-width: 1240px;
  padding: 20px;
}
.machine-item{
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  cursor: pointer;
  transition: 1s ease;
}
.machine-item .item-header{
  display: flex;
  justify-content: space-between;
}
.item-header h5{
  margin: 0;
}
.HighLight{
  border-style: solid;
  border-color: rgb(120, 188, 120);
}
.machine-item .item-header span{
  margin-left: 10px;
  padding: 5px 20px;
  max-height: 37px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.machine-item:hover{
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  transition: 1s ease;
  box-shadow: 0 10px 15px 0 rgba(4, 152, 251, 0.2), 0 6px 20px 0 rgba(8, 55, 109, 0.19);
}
.ip-address{
  position: fixed;
  display: flex;
  font-size: 14px;
  right: 0.5rem;
  bottom: 0;
  color: #ccc;
}
.machine-item .item-info{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.machine-item .item-info .id-display{
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.5;
} 

